# Ignore build results
bin/
obj/

# User-specific files
*.user
*.suo
*.sln.docstates

# Visual Studio Code settings
.vscode/

# NuGet packages
*.nupkg
packages/

# Logs
*.log

# Other IDE specific files
.idea/
.vs/